/* Important to have the cursor work on the whole screen */

html, body {
    height: 100%;
}

#app {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}